@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <p>   This application will help you to create, read, update and delete client data.

    </p>

    <p>Please click on the Clients tab to access your client data.</p>

</div>
